# Directories for backup
# Format: YOUR_DIRS="/dir1 /dir2 ... /dirN"
Your_Dirs="/home/hoid/Test/Test1"

# Backup storage directory
# Format: Backup_Dir="/dir"
Backup_Dir="/home/hoid/Test/Test2"

# Logs file
# Format: Log_File="Path_to_file"
Log_File="/home/hoid/Test/Test3/log.txt"

# Retention of rights             
# Format: Retain_Rights=true/false
Retain_Rights=true

# The minimum number of backups that can be stored
# Format: Min_Backups=NUM
Min_Backups=2

# The maximum number of backups that can be stored
# Format: Max_Backups=NUM
Max_Backups=5

# The maximum size of backup copies that can be saved.
# Format: Max_Size="NUM GB/MB"
Max_Size="5 GB"
